[Desktop Entry]
Name=Tremulous Grangerhub
Comment=Aliens vs Humans, First Person Shooter game with elements of Real Time Strategy (Grangerhub version)
Icon=tremulous-grangerhub
Exec=tremulous
Terminal=false
Type=Application
Categories=Game;ActionGame;StrategyGame;Shooter;
PrefersNonDefaultGPU=true
