[submodule "assets"]
	path = assets
	url = https://github.com/GrangerHub/tremulous-assets.git
	branch = data-1.3.1


[submodule "external/curl-src"]
	path = external/curl-src
	url = https://github.com/curl/curl.git
[submodule "external/SDL3"]
	path = external/SDL3
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.4.12
